body {
  font-family: "Zalando Sans Expanded", Arial, sans-serif;
  margin: 0;
}
.hero {
  position: relative;
  height: 500px;
  background: url("../images/homepage/background.jpg") center / cover no-repeat;
  border-bottom: 3px solid black;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d3d5d0;
  border-bottom: 3px solid black;
  padding: 12px 40px;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo img {
  height: 52px;
}
.nav-buttons a {
  margin-left: 28px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: #000;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.nav-buttons a:hover {
  color: #f55a34;
  transition: 0.3s;
}
.nav-buttons sup {
  color: #f55a34;
}

.hero-content {
  position: absolute;
  left: 40px;
  bottom: 120px;
}
.hero-coffee {
  position: absolute;
  right: -650px;
  top: -60px;
  width: 300px;
  height: auto;
  filter: drop-shadow(0 25px 50px rgba(0, 0, 0, 0.85));
}

.hero-content h1 {
  font-size: 43px;
  font-weight: bold;
  margin-bottom: 24px;
  color: #ffffff;
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.65);
}
.btn {
  display: inline-block;
  padding: 14px 32px;
  background: #f55a34;
  color: #000;
  text-decoration: none;
  border-radius: 999px;
  font-size: 14px;
}
.btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: ">>";
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}
.btn:hover span {
  padding-right: 22px;
}

.btn:hover span::after {
  opacity: 1;
  right: 0;
}

.choosing {
  padding: 80px 40px;
  background: #f55a34;
}
.choosing h2 {
  max-width: 400px;
  font-size: 26px;
  color: #ffffff;
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.65);
  margin-top: -40px;
  margin-bottom: 40px;
}
.reasons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}
.reason {
  background: #d3d5d0;
  padding: 30px;
  border-radius: 20px;
  transition: transform 0.5s ease;
}
.reason:hover {
  transform: translateY(-10px);
  background: #fcfff9c0;
}
.reason img {
  width: 50px;
  margin-bottom: 16px;
}
.reason h3 {
  font-size: 18px;
  margin-bottom: 12px;
  color: rgb(61, 28, 7);
}
.reason p {
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.75;
}

.blends {
  padding: 40px;

  background:
    linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(61, 28, 7, 0.92) 50%),
    url("../images/homepage/beans_section.jpg") center / cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.blends h2 {
  font-size: 26px;
  color: #ffffff;
  margin-bottom: 20px;
  max-width: 420px;
}

.slideshow {
  position: relative;
  max-width: 460px;
}

.mySlides {
  display: none;
}
.slide-content {
  background: rgba(255, 255, 255, 0.92);
  padding: 32px;
  border-radius: 20px;
  backdrop-filter: blur(6px);

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
  animation: fadeSlide 0.6s ease;
}
.slide-content h3 {
  font-size: 20px;
  margin-bottom: 12px;
  color: rgb(61, 28, 7);
  letter-spacing: 0.05em;
}
.description p {
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  color: rgb(61, 28, 7);
}
.numbertext {
  color: #fff;
  font-size: 12px;
  margin-bottom: 10px;
  opacity: 0.8;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background: rgba(0, 0, 0, 0.4);
  color: #fff;

  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  cursor: pointer;
  font-size: 22px;

  transition:
    background 0.3s,
    transform 0.3s;
}

.prev {
  left: -60px;
}

.next {
  right: -60px;
}

.prev:hover,
.next:hover {
  background: #f55a34;
  transform: translateY(-50%) scale(1.1);
}
@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
